/*
  Theme: TF Master Theme HubSpot
  Author: Tradipar
*/

/* 1. TOKENS & DESIGN SYSTEM */
{% include '../vibe-blueprint.json' %}

/* 2. GENERIC & RESET */
{% include './generic/_reset.hubl.css' %}

/* 3. OBJECTS (Layout, Containers) */
{% include './objects/_layout.hubl.css' %}
{% include './objects/_containers.hubl.css' %}
{% include './objects/_containers-dnd.hubl.css' %}

/* 4. COMPONENTS */
{% include './components/_header.hubl.css' %}
{% include './components/_default-modules.hubl.css' %}

/* 5. UTILITIES */
{% include './utilities/_helper.hubl.css' %}

/* 6. THEME OVERRIDES (Design Manager Customizations) */
{% include './theme-overrides.hubl.css' %}
{% include './theme-overrides-header-settings.hubl.css' %}
